#main {
  width: 90%;
  height: 680px;
  margin: 15px 5% 0 5%;
  // background-color: pink;

  .el-tag {
    width: 100%;
    height: 50px;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
  }

  #chatborder {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #409eff;
    overflow: auto;
    position: relative;
    display: flex;
    justify-content: flex-start !important;
    #chatborder_son {
      height: 55px;
      width: 100%;
      background-color: aquamarine;
      #avatar {
        #avatarImg1 {
          width: 40px;
          margin: 10px;
          float: left;
        }

        #avatarImg2 {
          width: 40px;
          margin: 10px;
          float: right;
        }
      }

      #mess {
        #messSpan1 {
          animation: toLeft 1.5s ease both;
          float: left;
          width: auto;
          height: 20px;
          margin-top: 1.5%;
          padding: 5px;
          border-radius: 5px;
          background-color: #ecf5ff;
          color: #2f495e;
        }

        #messSpan2 {
          animation: toRight 1.5s ease both;
          float: right;
          width: auto;
          height: 20px;
          margin-top: 1.5%;
          padding: 5px;
          border-radius: 5px;
          background-color: #ecf5ff;
          color: #2f495e;
        }
      }
    }
  }
  #postmess {
    width: 100%;
    height: 80px;
    box-sizing: border-box;
    // background-color: red;
    // border: 1px solid #409eff;

    .el-input {
      width: 90%;
      margin-top: 10px;
    }

    .el-button {
      width: 10%;
      margin-top: 10px;
    }
  }
}
@keyframes toLeft {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes toRight {
  0% {
    opacity: 0;
    transform: translateX(0px);
  }
  100% {
    opacity: 1;
    transform: translateX(-10px);
  }
}
